<svg width="800" height="120">
  <rect x="10" y="20" rx="10" ry="10" width="700" height="75"
  style="fill:#ffab00;stroke:grey;stroke-width:0;opacity:1"/>
  <text fill="#ffffff" font-size="30" font-family="Verdana" x="260" y="70">Informações</text>
</svg>
<div class="container-fluid">
	<h4>O Mosquito Aedes Aegypti</h4>
		<p>	
			O Aedes aegypti é um mosquito doméstico, vive dentro de casa e perto do homem. Ele tem hábitos diurnos e alimenta-se de sangue humano, sobretudo ao amanhecer e ao entardecer. A reprodução acontece em água limpa e parada, a partir da postura de ovos pelas fêmeas. Os ovos são colocados em água limpa e parada e distribuídos por diversos criadouros – estratégia que garante a dispersão da espécie. Se a fêmea estiver infectada pelo vírus da dengue quando realizar a postura de ovos, há a possibilidade de as larvas já nascerem com o vírus – a chamada transmissão vertical.
		</p>
	<h4>Combate aos Focos de Reprodução</h4>
		<p>	<b>Lista de possíveis focos e como eliminá-los:</b><br>
			- Tampe os tonéis e caixa d’água;<br>
			- Mantenha as calhas sempre limpas;<br>
			- Deixe garrafas sempre viradas com a boca para baixo;<br>
			- Mantenha lixeiras bem tampadas;<br>
			- Deixe ralos limpos e com aplicação de tela;<br>
			- Limpe semanalmente ou preencha pratos de vasos de plantas com areia;<br>
			- Limpe com escova ou bucha os potes de água para animais;<br>
	 		- Retire água acumulada na área de serviço, atrás da máquina de lavar roupa;<br>
			Tampar e lavar reservatórios de água são ações importantes para o combate ao Aedes aegypti. A limpeza deve ser periódica com água, bucha e sabão.
			Ao acabar a água do reservatório, é necessário fazer uma nova lavagem nos recipientes e guardá-los de cabeça para baixo. Esse cuidado é essencial porque os ovos do mosquito podem viver mais de um ano no ambiente seco.
		</p>
	<h4>Doenças e sintomas</h4>
		<h5>Dengue</h5>
			<p>
				A infecção por dengue pode ser assintomática, leve ou causar doença grave, levando à morte. Normalmente, a primeira manifestação da dengue é a febre alta (39° a 40°C), de início abrupto, que geralmente dura de 2 a 7 dias, acompanhada de dor de cabeça, dores no corpo e articulações, prostração, fraqueza, dor atrás dos olhos, erupção e coceira na pele.
				Perda de peso, náuseas e vômitos são comuns. Na fase febril inicial da doença pode ser difícil diferenciá-la. A forma grave da doença inclui dor abdominal intensa e contínua, vômitos persistentes, sangramento de mucosas, entre outros sintomas.
				Ao apresentar os sintomas, é importante procurar um serviço de saúde.
			</p>
		<h5>Chikungunya</h5>
			<p>
				Os principais sintomas são febre alta de início rápido, dores intensas nas articulações dos pés e mãos, além de dedos, tornozelos e pulsos. Pode ocorrer ainda dor de cabeça, dores nos músculos e manchas vermelhas na pele. Não é possível ter chikungunya mais de uma vez. Depois de infectada, a pessoa fica imune pelo resto da vida. Os sintomas iniciam entre dois e doze dias após a picada do mosquito. O mosquito adquire o vírus CHIKV ao picar uma pessoa infectada, durante o período em que o vírus está presente no organismo infectado. Cerca de 30% dos casos não apresentam sintomas.
			</p>
		<h5>Zika</h5>
			<p>
			Cerca de 80% das pessoas infectadas pelo vírus Zika não desenvolvem manifestações clínicas. Os principais sintomas são dor de cabeça, febre baixa, dores leves nas articulações, manchas vermelhas na pele, coceira e vermelhidão nos olhos. Outros sintomas menos frequentes são inchaço no corpo, dor de garganta, tosse e vômitos. No geral, a evolução da doença é benigna e os sintomas desaparecem espontaneamente após 3 a 7 dias. No entanto, a dor nas articulações pode persistir por aproximadamente um mês. Formas graves e atípicas são raras, mas quando ocorrem podem, excepcionalmente, evoluir para óbito, como identificado no mês de novembro de 2015, pela primeira vez na história.
			Observe o aparecimento de sinais e sintomas de infecção por vírus Zika e busque um serviço de saúde para atendimento, caso necessário.
			</p>

			<p>Fonte: http://combateaedes.saude.gov.br/</p>
</div>